.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.original-series, 
.card:hover .original-series-hover {
	background-color: #a8d9f3;
}

.neo , 
.card:hover .neo-hover {
	background-color: #c0dc94;
}

.neo-ex, 
.card:hover .neo-ex-hover {
	background-color: #f2f3a8;
}

.neo-dx, .limited-lawson, 
.card:hover .neo-dx-hover,
.card:hover .limited-lawson-hover {
	background-color: #c4c3c5;
}

.cb, 
.card:hover .cb-hover {
	background-color: #eba2b8;
}

.mugiwara-theater, 
.card:hover .mugiwara-theater-hover {
	background-color: #77eedc;
}

.strong-edition, .strong-edition-limited-lawson,
.card:hover .strong-edition-hover,
.card:hover .strong-edition-limited-lawson {
	background-color: #fd636e;
  color: #FFFFFF;
}

.stuffed-collection, 
.card:hover .stuffed-collection-hover {
	background-color: #cdd573;
  color: #FFFFFF;
}

.limited-edition, 
.card:hover .limited-edition-hover {
	background-color: #fb8b1f;
  color: #FFFFFF;
}

.sailing-again, 
.card:hover .sailing-again-hover {
	background-color: #e8c46e;
}

.maximum, 
.card:hover .maximum-hover {
	background-color: #ff5bfd;
}

.edition-z, 
.card:hover .edition-z-hover {
	background-color: #fd0404;
	color: #FFFFFF;
}

.mas, 
.card:hover .mas-hover {
	background-color: #355ffd;
	color: #FFFFFF;
}

.kabuki-edition, 
.card:hover .kabuki-edition-hover {
	background-color: #000000;
	color: #FFFFFF;
}

.iro, 
.card:hover .iro-hover {
	background-color: #b27a7a;
}

.soc, 
.card:hover .soc-hover {
	background-color: #b69f1e;
	color: #FFFFFF;
}

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card__inner {
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  /*background-color: #949fb0;*/
  /*color: #eceef1;*/
  font-size: 1.5em;
  /*text-transform: uppercase;*/
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.card__inner:after {
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  width: 100%;
  margin-top: .25em;
}
.card__expander {
  transition: all 0.2s ease-in-out;
  background-color: #dddddd;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eceef1;
  font-size: 1.5em;
}
.card__expander .fa {
  font-size: 1em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000000;
}
.card__expander .fa:hover {
  opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.card.is-expanded .card__inner {
  background-color: #1abc9c;
}
.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #dddddd;
}
.card.is-expanded .card__inner .fa:before {
  content: "\f115";
}
.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
.card.is-expanded:hover .card__inner {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  background-color: #949fb0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card__expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.card__expander-fullimg,
.card__expander-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.card__expander-details {
	padding: 0 40px 0 20px;
}

.card__expander-fullimg {
	text-align: center;
}

.card__expander-fullimg img {
	display: inline-block;
	max-height: 750px;
	max-width: 100%;
	margin-top: 20px;
}

.card__expander-details h3 {
	font-weight: 300;
	font-size: 52px;
	margin-bottom: 10px;
	color: #000000;
}

.card__expander-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.card__expander-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.card__expander-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.card__expander-details a:hover {
	border-color: #999;
	color: #999;
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }

  .card:nth-of-type(3n+4) {
    clear: left;
  }

  .card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n+3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }
}

@media screen and (max-width: 760px) {
	.card__expander-details {
		width: 100%;
	}
	.card__expander-details h3 {
		font-size: 25px;
	}
	.card__expander-fullimg {
		display: none;
	}
}
