{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">

        <div class="cards">
          {{ range $i, $item := $.Site.Data.items.items }}
            <div class=" card [ is-collapsed ] ">
              <div class="card__inner [ js-expander ] {{.class}}-hover">
                <img src="{{.thumb}}" alt="{{.alt}}"/>
              </div>
              <div class="card__expander">
                <i class="fa fa-close [ js-collapser ]"></i>
                <div class="card__expander-inner">
                  <div class="card__expander-fullimg">
                    <img src="{{.image}}" alt={{.alt}}>
                  </div>
                  <div class="card__expander-details">
                    <h3>{{.name}}</h3>
                    <p><b>Character:</b> {{.character}}</p>
                    <p><b>Category:</b> {{.category}} {{.subcategory}}</p>
                    <p><b>Sculptor:</b> {{.sculptor}}</p>
                    <p><b>Official Price:</b> {{.officialprice}}</p>
                    <p><b>Release Date:</b> {{.releasedate}}</p>
                    <a href="{{.url}}" target="_blank">{{ $.Site.Params.posterbuttontext }}</a>
                  </div>
                </div>
              </div>
            </div>         
          {{ end }}
        </div>

        {{ if .Params.tags }}
          <div class="blog-tags">
            {{ range .Params.tags }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
          </div>
        {{ end }}

        {{ if .Site.Params.socialShare }}
            <hr/>
            <section id="social-share">
              <ul class="list-inline footer-links">
                {{ partial "share-links" . }}
              </ul>
            </section>
        {{ end }}
      </article>

      {{ if ne .Type "page" }}
        <ul class="pager blog-pager">
          {{ if .PrevInSection }}
            <li class="previous">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
            </li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}


      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
        {{ if .Site.Params.staticman }}
          <div class="staticman-comments">
            {{ partial "staticman-comments.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
<script>
  var $cell = $('.card');

  //open and close card when clicked on card
  $cell.find('.js-expander').click(function() {

    var $thisCell = $(this).closest('.card');

    if ($thisCell.hasClass('is-collapsed')) {
      $cell.not($thisCell).removeClass('is-expanded').addClass('is-collapsed').addClass('is-inactive');
      $thisCell.removeClass('is-collapsed').addClass('is-expanded');
      
      if ($cell.not($thisCell).hasClass('is-inactive')) {
        //do nothing
      } else {
        $cell.not($thisCell).addClass('is-inactive');
      }

    } else {
      $thisCell.removeClass('is-expanded').addClass('is-collapsed');
      $cell.not($thisCell).removeClass('is-inactive');
    }
  });

  //close card when click on cross
  $cell.find('.js-collapser').click(function() {

    var $thisCell = $(this).closest('.card');

    $thisCell.removeClass('is-expanded').addClass('is-collapsed');
    $cell.not($thisCell).removeClass('is-inactive');

  });
</script>
{{ end }}
