<div id="header" role="banner">
	<div id="header-bottom-left">
		<span class="pagename"><a href="{{ "" | absLangURL }}">{{.Site.Title}}</a></span>
	</div>
	<div id="header-bottom-right">
		<span><a title="Home" href="/onepiecefigures/">Home</a></span>
		<span class="separator">|</span>
		<span><a title="Blog" href="/onepiecefigures/blog">Blog</a></span>
		<span class="separator">|</span>
		<span><a title="Collection" href="/onepiecefigures/collection">Collection</a></span>
		<span class="separator">|</span>
		<span><a title="About" href="/onepiecefigures/about">About</a></span>
		<span class="separator">|</span>
		<span><a title="Tags" href="/onepiecefigures/tags">Tags</a></span>
	</div>
</div>

{{ partial "social_networks.html" . }}