<div id="header" role="banner">
	<div id="header-bottom-left">
		<span class="pagename"><a href="{{ "" | absLangURL }}">{{.Site.Title}}</a></span>
	</div>
	<div id="header-bottom-right">
		<span><a title="Home" href="{{ "" | absLangURL }}">{{ i18n "home" }}</a></span>
		<span class="separator">|</span>
		<span><a title="Blog" href="{{ "blog" | absLangURL }}">{{ i18n "blog" }}</a></span>
		<span class="separator">|</span>
		<span><a title="Collection" href="{{ "collection" | absLangURL }}">{{ i18n "collection" }}</a></span>
		<span class="separator">|</span>
		<span><a title="About" href="{{ "about" | absLangURL }}">{{ i18n "about" }}</a></span>
		<span class="separator">|</span>
		<span><a title="Tags" href="{{ "tags" | absLangURL }}">{{ i18n "tags" }}</a></span>
		{{ if gt (len .Site.Home.AllTranslations) 1 }}
			<span class="separator">|</span>
			{{ range .Site.Home.AllTranslations }}
				<span><a href="{{ .Permalink }}"><img src="/onepiecefigures/{{ i18n .Language }}" width="20px" height="20px" style="display:inline;"></a></span>
		    {{ end }}
		{{ end }}
		</span>
	</div>
</div>

{{ partial "social_networks.html" . }}