<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  
  <body>
    {{ partial "header.html" . }}

    <div class="container">
      <div class="col-lg-12 col-md-12">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h2>{{ i18n "lastNews" }}</h2>
          <div class="cards">
            {{range first 10 (where .Paginator.Pages ".Params.type" "blog")}}
            <div class="card">
              <a href="{{ .Permalink }}">
                <h3 class="post-title">{{ .Title | safeHTML }}</h3>
                {{ if .Params.subtitle }}
                  <h4 class="post-subtitle">
                    {{ .Params.subtitle | safeHTML }}
                  </h4>
                {{ end }}
              </a>
              <div class="post-entry">
                {{ .Render "summary"}}
              </div>
            </div>
            {{ end }}
          </div>

          <hr>
          
          <h2>{{ i18n "calendar" }}</h2>
          <div class="comming-figs">
            {{range .Site.Data.calendar.figures}}
            <div class="comming-fig">
              <div class="comming-fig-body text-center">
                  <p>
                    {{ if .image }}
                      <img class="img-fluid" src="{{.image}}" alt="{{.title}}">
                    {{ end }}
                  </p>
                  <h4 class="card-title">{{ .title | safeHTML }}</h4>
                  <p class="card-text">{{ .releaseDate | safeHTML }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    <br>

    {{ partial "footer.html" . }}
  </body>
</html>