<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
 
    <div class="container">
      <div class="row">
        
          <img id="header-img" src="{{ "images/home-2.jpg" | absURL }}">
        
      </div>

      <br>

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ with .Content }}
            <div class="well">
              {{.}}
            </div>
          {{ end }}
        </div>
      </div>
    </div>

    <br>

    {{ partial "footer.html" . }}
  </body>
</html>