<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    	
	<header class="header-section ">
		<div class="intro-header no-img">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="page-heading">
							<h1>{{ if .Data.Singular }}#{{ end }}{{ .Title | safeHTML }}</h1>
							<hr class="small">
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
  
	<div class="container" role="main">
		<div class="row">
		  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		    {{ with .Content }}
		      <div class="well">
		        {{. | safeHTML}}
		      </div>
		    {{ end }}
			<div class="cards">
				{{ range $i, $item := .Paginator.Pages }}
			  <div class="card [ is-collapsed ] ">
			    <div class="card__inner [ js-expander ] {{.Params.class}}-hover" id="fig-{{.Params.number}}" 
			    	onclick="expand(event,{{.Params.number}});">
			        <img src="{{.Params.thumb}}" alt="{{.Params.alt}}"/>
			    </div>
			    <div class="card__expander" id="figf-{{.Params.number}}">
			      <i class="fa fa-close [ js-collapser ]" onclick="collapse(event,{{.Params.number}});"></i>	
			      <div class="card__expander-inner">
			        <div class="card__expander-fullimg">
			          <img src="{{.Params.image}}" alt={{.Params.alt}}>
			        </div>
			        <div class="card__expander-details">
			          <h3>{{.Params.name | safeHTML}}</h3>
			          <p><b>{{ i18n "character"}}:</b> {{.Params.character | safeHTML}}</p>
			          <p><b>{{ i18n "category"}}:</b> {{.Params.category | safeHTML}} {{.Params.subcategory}}</p>
			          <p><b>{{ i18n "sculptor"}}:</b> {{.Params.sculptor | safeHTML}}</p>
			          <p><b>{{ i18n "officialPrice"}}:</b> {{.Params.officialprice | safeHTML}}</p>
			          <p><b>{{ i18n "releaseDate"}}:</b> {{.Params.releasedate | safeHTML}}</p>
			          <a href="{{.Permalink}}">{{ i18n "viewFigureDetails" }}</a>
			        </div>
			      </div>
			    </div>
			  </div>
			{{ end }}
			</div>
		    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
		      <ul class="pager main-pager">
		        {{ if .Paginator.HasPrev }}
		          <li class="previous">
		            <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}/" style="display:none;">&larr; {{ i18n "newerPosts" }}</a>
		          </li>
		        {{ end }}
		        {{ if .Paginator.HasNext }}
		          <li class="next">
		            <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}/" style="display:none;">{{ i18n "olderPosts" }} &rarr;</a>
		          </li>
		        {{ end }}
		      </ul>
		    {{ end }}
		  </div>
		</div>
	</div>

    {{ partial "footer.html" . }}
    
	<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <script>
      var $container = $('.cards').infiniteScroll({
        path: '.next > a',
        append: '.card',
        history: false,
      });

      $container.on('append.infiniteScroll', function(event, response, path, items) {
      	var $cells = $('.card');
      	var exp = document.getElementsByClassName('is-expanded');
		for(var i=0; i<items.length; i++) {
			if(exp.length == 0) {
				break;
			}
			items[i].className += "is-inactive";
		}
	  });

      function expand(event, number) {
      	var $cells = $('.card');
      	var $cardCell = $(event.target).closest('.card');
      	if($cardCell.hasClass('is-collapsed')) {
          $cells.not($cardCell).removeClass('is-expanded').addClass('is-collapsed').addClass('is-inactive');
          $cardCell.removeClass('is-collapsed').removeClass('is-inactive').addClass('is-expanded');
          window.location.hash = 'figf-' + number;
        } else {
          $cardCell.removeClass('is-expanded').addClass('is-collapsed');
          $cells.not($cardCell).removeClass('is-inactive');
          window.location.hash = 'fig-' + number;
        }
      }

	function collapse(event, number) {
		var $cells = $('.card');
		var $cardCell = $(event.target).closest('.card');
		$cardCell.removeClass('is-expanded').addClass('is-collapsed');
		$cells.not($cardCell).removeClass('is-inactive');
		window.location.hash = 'fig-' + number;
	}
    </script>
  </body>
</html>